/* Estilos para la sección del carrito */
#carrito {
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #f9f9f9;
    overflow-x: hidden;
    transition: width 0.5s; /* Añadir transición para el efecto de deslizamiento */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1;
  }
  
  #lista-carrito {
    list-style: none;
    padding: 0;
  }
  
  #lista-carrito li {
    margin-bottom: 10px;
  }
  
  #total {
    font-weight: bold;
    color: #333;
  }
  
  /* Estilo para mostrar el carrito solo cuando contiene productos */
  #carrito:not(:empty) {
    width: 300px;
  }
  