/*logo*/

.form-register {
    width: 400px;
    background: url('resources/fondo_3trans.png'); /* Reemplaza con la ruta de tu imagen de fondo para la sección de registro */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.navbar a {
    font-weight: 600;
    font-size: 18px;
}



.logo-img {

    max-width: 300%;
    height: auto;
    display: block;
    margin: 20px 0 0 -200px; /* Ajusta los valores según sea necesario */
    
}

    /*max-width: 500px;
    margin: 0 auto; /* Centrar horizontalmente 
    margin-top: 40px; /* Ajusta según sea necesario 
    }*/

   /* max-width: 500px; /* Puedes ajustar este valor según tus necesidades 
    margin: 0 auto; /* Esto centrará el contenedor en la página 
    margin-top: 150px; /* Ajusta este valor según la separación deseada desde el navbar 
    margin-left: -400px;
}
*/

.col-md-8 {
    margin-left: auto; /* Esto empujará la columna hacia el lado derecho */
    margin-right: 20px; /* Ajusta este valor según sea necesario para el espacio deseado */
    margin-top: 50px; /* Ajusta para que tenga la misma altura que el logo */

    }

.navbar-text {

    /*text-align: justify !important;
    word-wrap: break-word !important;
    white-space: normal !important;
    }*/

    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    word-wrap: break-word;
    color: #0080ff; /* Color azul claro, puedes ajustarlo según tus preferencias */

}

/* Ajusta el margen izquierdo para alejar el texto de presentación del logo */
.navbar-brand {
    margin-left: 20px; /* Ajusta según sea necesario */
}

.navbar-brand + .navbar-text {
    margin-left: 20px; /* Ajusta este valor según sea necesario para el espacio deseado */
    }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px; /*fija el navbar le da distinto margen de distancia del inicio de '*/
    /*width: 70%; es el largo del navbar*/
    height: 30px; /* el grosor que se le puede dar a la barra completa del navbar*/
}




.navbar a {
    font-weight: 600;
    font-size: 18px;
}

/* Agrega estilos al botón del carrito en la barra de navegación */
.btn-carrito {
    float: right;
    border: 2px solid white; /* Bordes anchos */
    color: white; /* Texto blanco */
    background-color: transparent; /* Fondo transparente */
    padding: 8px 15px; /* Ajusta el relleno según sea necesario */
    border-radius: 5px; /* Agrega bordes redondeados si deseas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  
  /* Cambia el estilo al pasar el ratón sobre el botón */
  .btn-carrito:hover {
    background-color: #699c20;
    color: black; /* Cambia el color del texto al pasar el ratón */
  }
  



/*productos*/



.bg-producto4 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(resources/dispensador+2bidoness_1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.bg-producto4 .card-body {
    margin-top: 180px; /* Ajusta el valor según sea necesario */
    }

.bg-producto5 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(resources/promocion_aguaBidones3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-producto5 .card-body {
    margin-top: 180px; /* Ajusta el valor según sea necesario */
    }

.bg-producto6 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(resources/promocion_aguaBidones2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-producto6 .card-body {
    margin-top: 180px; /* Ajusta el valor según sea necesario */
    }

    .bg-producto7 {
        background-image: linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url(resources/dispensador+2bidoness_1.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;    
    }
    
    .bg-producto7 .card-body {
        margin-top: 180px; /* Ajusta el valor según sea necesario */
        }
    
    .bg-producto8 {
        background-image: linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url(resources/promocion_aguaBidones3.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .bg-producto8 .card-body {
        margin-top: 180px; /* Ajusta el valor según sea necesario */
        }
    
    .bg-producto9 {
        background-image: linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url(resources/promocion_aguaBidones2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .bg-producto9 .card-body {
        margin-top: 180px; /* Ajusta el valor según sea necesario */
        }    

.bg-producto10 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(resources/dispensador+2bidoness_1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.bg-producto10 .card-body {
    margin-top: 180px; /* Ajusta el valor según sea necesario */
    }

.bg-producto11 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(resources/promocion_aguaBidones3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-producto11 .card-body {
    margin-top: 180px; /* Ajusta el valor según sea necesario */
    }

.bg-producto12 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(resources/promocion_aguaBidones2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-producto12 .card-body {
    margin-top: 180px; /* Ajusta el valor según sea necesario */
    }

.bg-producto13 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(resources/promocion_aguaBidones2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-producto13 .card-body {
    margin-top: 180px; /* Ajusta el valor según sea necesario */
    }        

.bg-producto14 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(resources/promocion_aguaBidones2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-producto14 .card-body {
    margin-top: 180px; /* Ajusta el valor según sea necesario */
    }

.bg-producto15 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(resources/promocion_aguaBidones2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-producto15 .card-body {
    margin-top: 180px; /* Ajusta el valor según sea necesario */
    }        